.gitattributes
.idea/
.vscode

/_logs
/ZoneForSTORAGE
/log
/storage
docker-compose.yml
*.env
*.tmp
*.log
*.txt
/code/*
!/code/application.loc
code/application.loc/vendor
/code/*/vendor
/code/*/node_modules

